@import 'variables', 'mixins';

.main-anchor {
    @include reset-button();
    @include regular-anchor();
    &--black {
        color: $insta-black;
    }
}

.link-anchor {
    @include regular-anchor($insta-light-gray);
    font-weight: 400;
}

.story-toogler {
    list-style: none;
    &__user {
        @include generic-flex(column);
        cursor: pointer;
        &-photo {
                @include user-photo();
        }
        &-name {
                @include regular-text(toRem(12px), 400);
        }
   }
}

.friend-stories-container {
    padding: toRem(16px) 0;
    background: white;
    position: relative;
    border: {
        width: 1px;
        color: $insta-medium-gray;
        style: solid;
    }
    &__wrap {
        @include generic-flex();
        overflow: hidden;
        > *:not(:last-child) {
            margin-right: toRem(10px);
        }
        > *:first-child {
            margin-left: toRem(16px);
        }
    }
    &__nav {
        @include reset-button();
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;
        width: toRem(50px);
        height: toRem(50px);
        .iconify {
            background: white;
            border-radius: 50%;
            width: toRem(25px);
            height: toRem(25px);
            padding: 3px;
            box-shadow: $shadow-level-1;

            path {
                fill: $insta-medium-gray;
            }
        }
        &--left {
            left: 0 ;
        }
        &--right {
            right: 0 ;
        }
    }
}

.user-account {
    @include generic-flex();
    &__photo {
        @include user-photo();
    }
    &__context {
        margin-left: toRem(10px);
        padding-right: toRem(20px);
        max-width: toRem(250px);
        & > *:first-child {
            margin-bottom: toRem(5px);
        }
    }
    &__nick {
        @include regular-text();
        @include ellipsis();
    }
    &__name {
        @include regular-text(toRem(14px), 400, $insta-gray);
        @include ellipsis();
        max-width: toRem(150px);
    }
    &__followers {
        @include regular-text(toRem(12px), 400, $insta-gray);
        @include ellipsis();
    }
}

.user-account-related-info {
    & > &__user-container {
        margin-bottom: 20px;
    }
    &__user-container {
        @include generic-flex();
        justify-content: space-between;
    }
    &__title-container {
        @include generic-flex();
        justify-content: space-between;
        margin-bottom: toRem(8px)
    }
    &__title {
        @include regular-text();
        color: $insta-gray;
    }
    &__user-wrap {
        .user-account {
            padding: toRem(8px) 0;
            &__nick {
                margin-bottom: 0;
            }
            &__photo {
                img {
                    width: toRem(32px);
                    height: toRem(32px);
                }
            }
        }
    }
}

.footer {
    &__link-wrap {
        @include generic-flex();
        flex-wrap: wrap;
        margin: toRem(20px) 0;
    }
    &__link {
        list-style: none;
        &:not(:last-child) {
            &::after {
                content: '·';
                margin: 0 toRem(5px);
                @include regular-text();
                color: $insta-light-gray;
            }
        }
    }
    &__copyright {
        @include regular-text(toRem(12px), 400, $insta-light-gray);
        font-style: normal;
    }
}