@import 'variables', 'colors';

@mixin user-photo($width: toRem(56px), $height: toRem(56px)) {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    img {
        width: $width;
        height: $height;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        border: {
            color: white;
            width: 2px;
            style: solid;
        }
    }
    &--enabled {
        border-radius: 50%;
        background: $main-gradient; /*How to extend close from enabled*/
    }
    &--close {
        border-radius: 50%;
        background: $insta-green;
    }
}

@mixin regular-text($fontSize: toRem(14px), $fontWeight: 600, $color: $insta-black) {
    font-family: $main-font;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
}

@mixin regular-input ($fontSize: toRem(14px), $fontWeight: 400, $color: $insta-black) {
    @include regular-text($fontSize, $fontWeight, $color);
    border: 0;
    &,
    &:active,
    &:hover,
    &:active,
    &:focus {
        border: 0;
        outline: none;
        background: none;
    }
    &::placeholder {
        @include regular-text($fontSize, $fontWeight, $insta-gray)
    }
}
@mixin reset-button {
    &,
    &:active,
    &:hover,
    &:active {
        background: none;
        outline: none;
        border: none;
    }
    
}

@mixin generic-flex($direction: row) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

@mixin regular-anchor($color: $insta-blue, $fontSize: toRem(12px)) {
    @include regular-text($fontSize, 600, $color);
    text-decoration: none;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin have-profile-popup {
    &:hover {
        text-decoration: underline;
        .profile-popup {
            display: block;
        }
    }
}
@mixin button-with-icon($color: $insta-black, $width: toRem(24px), $height: toRem(24px)) {
    @include reset-button();
    @include generic-flex();
    width: toRem(40px);
    height: toRem(40px);
    justify-content: center;
    cursor: pointer;
    .iconify {
        width: $width;
        height: $height;
    }
}