@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap");
.main-anchor {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #0095F6;
  text-decoration: none;
  cursor: pointer;
}

.main-anchor, .main-anchor:active, .main-anchor:hover, .main-anchor:active {
  background: none;
  outline: none;
  border: none;
}

.main-anchor--black {
  color: #262626;
}

.link-anchor {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #c7c7c7;
  text-decoration: none;
  font-weight: 400;
}

.icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.icon-button, .icon-button:active, .icon-button:hover, .icon-button:active {
  background: none;
  outline: none;
  border: none;
}

.icon-button .iconify {
  width: 1.5rem;
  height: 1.5rem;
}

.bordered-button {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  padding: 0.3125rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
}

.bordered-button, .bordered-button:active, .bordered-button:hover, .bordered-button:active {
  background: none;
  outline: none;
}

.header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0.625rem 0;
  border-bottom-width: 1px;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
}

.header .logo {
  width: 6.875rem;
  -webkit-transform: translateY(0.3125rem);
          transform: translateY(0.3125rem);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 59.375rem;
  margin: 0 auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__actions .icon-button {
  width: 1.375rem;
  height: 1.375rem;
}

.header__actions .icon-button:not(:last-child) {
  margin-right: 1.125rem;
}

.header__actions .icon-button .iconify path,
.header__actions .icon-button .iconify circle,
.header__actions .icon-button .iconify rect {
  fill: #262626;
}

.header__actions-profile {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2px;
}

.header__actions-profile img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.header__actions-profile--enabled {
  border-radius: 50%;
  background: linear-gradient(217.87deg, #C72E90 0%, #FA9B4A 100%);
  /*How to extend close from enabled*/
}

.header__actions-profile--close {
  border-radius: 50%;
  background: #6ED63A;
}

.header__actions-profile, .header__actions-profile:active, .header__actions-profile:hover, .header__actions-profile:active {
  background: none;
  outline: none;
  border: none;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FAFAFA;
  width: 13.4375rem;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: text;
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
}

.search-bar__icon {
  width: 0.6875rem;
  height: 0.6875rem;
  margin-right: 0.3125rem;
}

.search-bar__icon path,
.search-bar__icon circle {
  stroke: #8e8e8e;
}

.search-bar__input {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #262626;
  border: 0;
  width: 50px;
}

.search-bar__input, .search-bar__input:active, .search-bar__input:hover, .search-bar__input:active, .search-bar__input:focus {
  border: 0;
  outline: none;
  background: none;
}

.search-bar__input::-webkit-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #8e8e8e;
}

.search-bar__input:-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #8e8e8e;
}

.search-bar__input::-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #8e8e8e;
}

.search-bar__input::placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #8e8e8e;
}

.search-bar__input:focus + button {
  display: block;
}

.search-bar__input:focus {
  width: unset;
}

.search-bar__quit {
  display: none;
  border-radius: 50%;
  background: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar__quit .iconify path {
  stroke: #FAFAFA;
  fill: #FAFAFA;
}

.search-bar__quit, .search-bar__quit:active, .search-bar__quit:hover, .search-bar__quit:active {
  outline: none;
  border: none;
}

.story-toogler {
  list-style: none;
}

.story-toogler__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.story-toogler__user-photo {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2px;
}

.story-toogler__user-photo img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.story-toogler__user-photo--enabled {
  border-radius: 50%;
  background: linear-gradient(217.87deg, #C72E90 0%, #FA9B4A 100%);
  /*How to extend close from enabled*/
}

.story-toogler__user-photo--close {
  border-radius: 50%;
  background: #6ED63A;
}

.story-toogler__user-name {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #262626;
}

.friend-stories-container {
  padding: 1rem 0;
  background: white;
  position: relative;
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
}

.friend-stories-container__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.friend-stories-container__wrap > *:not(:last-child) {
  margin-right: 0.625rem;
}

.friend-stories-container__wrap > *:first-child {
  margin-left: 1rem;
}

.friend-stories-container__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
}

.friend-stories-container__nav, .friend-stories-container__nav:active, .friend-stories-container__nav:hover, .friend-stories-container__nav:active {
  background: none;
  outline: none;
  border: none;
}

.friend-stories-container__nav .iconify {
  background: white;
  border-radius: 50%;
  width: 1.5625rem;
  height: 1.5625rem;
  padding: 3px;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.13);
}

.friend-stories-container__nav .iconify path {
  fill: #dbdbdb;
}

.friend-stories-container__nav--left {
  left: 0;
}

.friend-stories-container__nav--right {
  right: 0;
}

.user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.user-account__photo {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2px;
}

.user-account__photo img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.user-account__photo--enabled {
  border-radius: 50%;
  background: linear-gradient(217.87deg, #C72E90 0%, #FA9B4A 100%);
  /*How to extend close from enabled*/
}

.user-account__photo--close {
  border-radius: 50%;
  background: #6ED63A;
}

.user-account__context {
  margin-left: 0.625rem;
  padding-right: 1.25rem;
  max-width: 15.625rem;
}

.user-account__context > *:first-child {
  margin-bottom: 0.3125rem;
}

.user-account__nick {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #262626;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-account__name {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #8e8e8e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 9.375rem;
}

.user-account__followers {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #8e8e8e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-account-related-info > .user-account-related-info__user-container {
  margin-bottom: 20px;
}

.user-account-related-info__user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-account-related-info__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.user-account-related-info__title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #262626;
  color: #8e8e8e;
}

.user-account-related-info__user-wrap .user-account {
  padding: 0.5rem 0;
}

.user-account-related-info__user-wrap .user-account__nick {
  margin-bottom: 0;
}

.user-account-related-info__user-wrap .user-account__photo img {
  width: 2rem;
  height: 2rem;
}

.post {
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
  background: white;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  border-bottom-width: 1px;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
}

.post__header .icon-button .iconify {
  width: 1.25rem;
  height: 1.25rem;
}

.post__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__user-photo {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2px;
}

.post__user-photo img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.post__user-photo--enabled {
  border-radius: 50%;
  background: linear-gradient(217.87deg, #C72E90 0%, #FA9B4A 100%);
  /*How to extend close from enabled*/
}

.post__user-photo--close {
  border-radius: 50%;
  background: #6ED63A;
}

.post__user-name {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #262626;
  text-decoration: none;
  position: relative;
}

.post__user-name:hover {
  text-decoration: underline;
}

.post__user-name:hover .profile-popup {
  display: block;
}

.post__content {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.post__content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.post__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.625rem;
}

.post__actions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 1rem;
}

.post__text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #262626;
}

.post__text a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #262626;
  text-decoration: none;
}

.post__likes {
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.post__description {
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.post__comments {
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.post__comments-button {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #8e8e8e;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.post__comments-button, .post__comments-button:active, .post__comments-button:hover, .post__comments-button:active {
  background: none;
  outline: none;
  border: none;
}

.post__comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.post__comments-actions .icon-button {
  width: 1.875rem;
  height: 100%;
}

.post__comments-actions .icon-button .iconify {
  width: 0.75rem;
  height: 0.75rem;
}

.post__time {
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.post__time-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  color: #8e8e8e;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.post__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top-width: 1px;
  border-top-color: #dbdbdb;
  border-top-style: solid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.post__form-comment {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #262626;
  border: 0;
  padding: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.post__form-comment, .post__form-comment:active, .post__form-comment:hover, .post__form-comment:active, .post__form-comment:focus {
  border: 0;
  outline: none;
  background: none;
}

.post__form-comment::-webkit-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
}

.post__form-comment:-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
}

.post__form-comment::-ms-input-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
}

.post__form-comment::placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
}

.post__form-submit {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #0095F6;
}

.post__form-submit, .post__form-submit:active, .post__form-submit:hover, .post__form-submit:active {
  background: none;
  outline: none;
  border: none;
}

.profile-popup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 24.375rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  background: white;
  display: none;
  z-index: 99;
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
}

.profile-popup__header {
  padding: 0.5rem;
  border-bottom-width: 1px;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
}

.profile-popup__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-popup__stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  height: 4.375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 6.875rem;
          flex: 1 0 6.875rem;
}

.profile-popup__stats-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #262626;
}

.profile-popup__stats-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #8e8e8e;
  text-transform: lowercase;
}

.profile-popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile-popup__content-item {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.profile-popup__content-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-popup__content-item img:hover {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

.profile-popup__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.75rem;
}

.profile-popup__actions .bordered-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.profile-popup__actions .bordered-button:not(:last-child) {
  margin-right: 0.625rem;
}

.footer__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.25rem 0;
}

.footer__link {
  list-style: none;
}

.footer__link:not(:last-child)::after {
  content: '·';
  margin: 0 0.3125rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #262626;
  color: #c7c7c7;
}

.footer__copyright {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #c7c7c7;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #FAFAFA;
}

.outer-wrapper {
  max-width: 59.375rem;
  margin: 0 auto;
  padding-top: 6.25rem;
  position: relative;
}

.feed {
  max-width: 37.5rem;
}

.feed .friend-stories-container {
  margin-bottom: 2.5rem;
}

.feed .post {
  margin-bottom: 1.25rem;
}

.user-account-related-info {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 18.75rem;
  padding-top: 6.25rem;
}

@media (max-width: 980px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .outer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .user-account-related-info {
    position: relative;
    padding-top: 0;
    max-width: unset;
  }
  .user-account-related-info > *:not(.footer) {
    display: none;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
    padding: 0 20px;
  }
  .footer__link-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .search-bar {
    display: none;
  }
  .feed {
    width: 90vw;
  }
}
/*# sourceMappingURL=main.css.map */